<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
			  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
			  http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd
			  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-1.5.xsd">
	
	<bean id="teams" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="India" value="India" />
				<entry key="Pakistan" value="Pakistan" />
				<entry key="Australia" value="Australia" />
				<entry key="New Zeland" value="New Zeland" />
				<entry key="South Africa" value="South Africa" />
				<entry key="Sri Lanka" value="Sri Lanka" />
				<entry key="West Indies" value="West Indies" />
				<entry key="England" value="England" />
			</map>
		</constructor-arg>
	</bean>
	
	<util:list id="teamsName">
	 			 <value>Delhi</value>
	 			 <value>Punjab</value>
   				 <value>Mumbai</value>
   				 <value>Pune</value>
   				 <value>Kolkata</value>	
   				 <value>Bangalore</value>
   				 <value>Hyderabad</value>   				
   				 <value>Gujarat</value>				
	</util:list>
	
	
	<util:list id="teamsCode" value-type="java.lang.String">
   				 <value>India</value>
   				 <value>Pakistan</value>
   				 <value>Australia</value>
   				 <value>New Zeland</value>
   				 <value>Sri Lanka</value>
   				 <value>South Africa</value>
   				 <value>West Indies</value>
   				 <value>England</value>				
	</util:list>


</beans>